<%- include ("../partials/header") %>

<div class="container">
  <div class="row">
    
    <div style="width:30%;margin:30px auto" >
      <h1>POST A NEW PIC!!</h1>
      <form action = "/image/index" method = "POST" enctype="multipart/form-data">
        <div class="form-group">
          <div id = "upload-dialog" style="display: block; width: 100%;" class="form-control">Choose Image</div>
        </div> 
        <div class="form-group">
          <input type = "file" id = "image-file" name = "img" accept = "image/jpg, image/png" style = "display: none" required />
        </div> 
        <div class="form-group">
          <img id = "preview-image" style = "display: none; width: 100%;" class="form-control" />
        </div>   
        <div class="form-group">
          <p id = "remove-image" style = "display: none; width: 100%;" class="form-control">Choose different pic</p>
        </div>  
        <div class="form-group">
          <textarea type = "text" name = "caption" placeholder = "Caption" style = "display: block; width: 100%;" class="form-control"></textarea>
        </div>  
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn default btn-block">POST</button>
        </div>  
      </form>
    </div>
  </div>
</div>
<script src="/stylesheets/new_post.js"></script>


<%- include ("../partials/footer") %>